{% load static %}
<html>

<head>

    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" type="text/css" href="{% static "/style.css" %}">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
</head>

<body id="LoginForm">
    <div class="container">
        <div class="login-form">
            <div class="main-div">
                <div class="panel">
                    <h2>Rejestracja dla studenta</h2>
                    <p>Wypełnij wymagane pola</p>
                </div>
                <form id="Login">

                    <div class="form-group">

                        <input type="email" class="form-control" id="inputEmail" placeholder="Email">

                    </div>
                    <div class="form-group">

                        <input type="text" class="form-control" id="inputNrIndeks" placeholder="Numer indeksu">

                    </div>
                    <div class="form-group">

                        <input type="text" class="form-control" id="inputImie" placeholder="Imie">

                    </div>
                    <div class="form-group">

                        <input type="text" class="form-control" id="inputNazwisko" placeholder="Nazwisko">

                    </div>
                    <div class="form-group">

                        <input type="text" class="form-control" id="inputPesel" placeholder="Pesel">

                    </div>
                    <div class="form-group">

                        <input type="text" class="form-control" id="inputImie" placeholder="Imie">

                    </div>
                    <div class="form-group">

                        <input type="password" class="form-control" id="inputHaslo" placeholder="Hasło">

                    </div>
                    <div class="form-group">

                        <input type="password" class="form-control" id="inputPasswordConfirm" placeholder="Powtorz hasło">

                    </div>
                    <button type="submit" class="btn btn-primary">Zarejestruj</button>

                </form>
            </div>
        </div>
    </div>
    </div>


</body>

</html>